@import "tailwindcss";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

.left-btn {
    background-image: url("./design/carousel-control-prev.png");
    background-color: transparent;
    height: 50px;
    width: 24px;
    border: none;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
}

.right-btn {
    background-image: url("./design/carousel-control-next.png");
    background-color: transparent;
    height: 50px;
    width: 24px;
    border: none;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
}