* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 93px;
  height: 45px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 45px;
  text-align: center;
  letter-spacing: 0.2px;
  flex: none;
  order: 0;
  flex-grow: 0;
}
